
/* navbarstyles */
.logonav{
    height: 100px;
}

.header{
    display: flex;
    background: linear-gradient(to bottom, aquamarine, white);
}

#log_in img, #Register img, #Cart img{
    height: 40px;
}

#log_in{
    padding: 30px;
}

#Register{
    padding: 30px;
}

#Cart{
    padding: 30px;
}

#IconoSearch{
    height: 20px;
}
/* ----------------- */

/* Index */
.Examples img{
    height: 350px;
}

#carouselExampleControls {
    width: 50%; /* Define el ancho del carousel */
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    max-height: 300px; /* Tamaño máximo ajustable */
}

.Destacados p {
    text-align: center;
}

.Destacados img {
    background-color: lightgray; /* Fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Agrega relleno para espaciar la imagen del borde */
  }
  

/* ----------------- */

.Registro{
    display: flex;
    flex-direction: column;
}

#linkredes {
    height: 50px;   /*  tamaño imagenes redes en contacto */
}

#prodnatacion img,
#prodbasquet img,
#prodrugby img{
    height: 300px;
}


#Sucursal-1 img,
#Sucursal-2 img,
#Sucursal-3 img {
    height: 40px;
}

.promo1 img,
.promo2 img {
    height: 400px;
}