.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(153, 24, 165, 0.699), rgb(255, 255, 255));
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 1.5rem;
}

.nav-options{
    list-style: none;
    display: flex;
}

.option1 {
    text-decoration: none;
    position: absolute;
    right: 35%;
    color: rgba(0, 136, 41, 0.699);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.option2{
    text-decoration: none;
    position: absolute;
    right: 25%;
    color: rgba(0, 136, 41, 0.699);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.option3{
    text-decoration: none;
    position: absolute;
    right: 15%;
    color: rgba(0, 136, 41, 0.699);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.option4{
    text-decoration: none;
    position: absolute;
    right: 5%;
    color: rgba(0, 136, 41, 0.699);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
