@media (max-width: 992px) {
    header {
        display: none;
    }

    .hero-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .hero-info h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
        /* quiero que el width sea del 90% PERO si es de mas de 
    500px que se quede ahi, como maximo que el width sea de 500px,
    despues: habia un width minimo? sacamelo */
    }

    .hero-info p {
        width: 60%;
        max-width: 600px;
    }

    .hero-card {
        display: none;
    }
    
    #nft-info h2{
        text-align: center;
        width: 80%;
    }

    .nft-pros {
        max-width: 80%;
    }

    #discover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .discover-info {
        flex-direction: column;
        align-items: center;
    }

    .discover-cards {
        flex-direction: column;
    }

    .discover-cards img {
        width: 100%;
    }

    .products-filter{
        flex-wrap: wrap;
        max-width: 390px;
        
    }
}
    