h1{
    color: red;
}

h2{
    color: green;
}

h3, h4 {
    font-size: 30px;
    color: blue;
    border: solid;
    border-color: rgb(rgb(133, 56, 56), rgb(142, 255, 142), rgb(163, 163, 255));
    background-color: brown;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: square;
}

#ñonga{
    text-decoration: none;
    color: aqua;
}

#ñonga:hover{
    color: black;
}

#lenteja{
    color: royalblue;
    background-color: chocolate;
}

#lorem{
    
    text-align: center;
    background-color: bisque;
    color: red;
    width: 250px;
    height: 500px;
}