body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    color: #fff;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
  }

  .content {
    padding: 20px;
  }

/* hasta esta medida de ancho, mostrame las cosas que ponga dentro de esta media, de esta manera. */
  @media (max-width:992px){
    .navbar {
      position: sticky;
      top: 0;
      background: linear-gradient(to right, red, violet);
      padding: 60px;
      color: #fff;
    }
  }